@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
   
	margin: 0;
	background: rgb(255, 255, 255);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}
.quote{
  background-color:rgb(93, 139, 230);
    padding:10px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
font-family:Arial, Helvetica, sans-serif ;
color: black;
}
.raj
{
font-size:22px ;
color: rgb(240, 240, 43);
text-decoration: none;
}
.container1 {
	width: 80%;
	margin: 0 auto;
  padding: 0%;
}

header {
  background: #153245;
  height: 100px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 100px;
  margin-left: -120px;
}

nav {
  float: right;
}

nav li{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul button{
  border: 2px solid black;
  text-decoration-line: underline;
  margin: 20px;
  border-radius: 15px;
  background-color: #153245;
  padding: 7px;
}

nav li {
  display: inline-block;
  margin-left: 60px;
  position: relative;
  margin-top: 20px;
}

nav a {
  color: rgb(154, 255, 60);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: -2px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.info
{
  background-color: rgb(205, 226, 244);
    border-style: solid;
    border-width: 3px;
    width: 50%;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
    word-spacing: 7px;
    border-color: rgb(94, 63, 63);
    box-shadow: #444 ;
    margin-right: 0px;
    height: 60%;
   margin-top: 0px;
   margin-bottom: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: inline-block;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
.fuck{


    height: 540px;
    
left: 0px;
  }
  .services1{

font-size: 24px;
border-style: solid;
border-width: 3px;
border-color: #000;
border-radius: 13px;
background-color: rgb(155, 208, 254);
color: black;
text-decoration: none;
padding: 100px;
font-family: Arial, Helvetica, sans-serif;
 
  }
  #a{
    margin-right: 33.33%;
    display: inline-block;
  }
  #b{
    margin-right: 33.33%;
    display: inline-block;
  }
  #d{
    margin-right: 33.33%;
    display: inline-block;
  }
  #e{
    margin-right: 33%;
    display: inline-block;
  } 
  #f{
    margin-right: 5%;
    display: inline-block;
  }
  #c{
    margin-right: 5%;
    display: inline-block;
  }

  /* .services2{
    margin-right: 30%;
    font-size: 24px;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    border-radius: 13px;
    background-color: rgb(234, 254, 155);
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

  } */
  /* .services3{
/* margin-right: 33.3%; */
/* margin-right: 33.33%; */
/* font-size: 24px;
border-style: solid;
border-width: 3px;
border-color: #000;
border-radius: 13px;
background-color: rgb(234, 254, 155);
color: black;
text-decoration: none;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
  } */ 
  .services4{
    margin-right: 10%;
    font-size: 24px;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    border-style: double;
    border-radius: 13px;
    background-color: rgb(122, 173, 255);
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* .services5{
    margin-right: 33.33%;
    font-size: 24px;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    border-radius: 13px;
    background-color: rgb(234, 254, 155);
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  } */
  /* .services6{
/* margin-right: 33.33%; */
/* margin-right: 33.33%; */
/* font-size: 24px;
border-style: solid;
border-width: 3px;
border-color: #000;
border-radius: 13px;
background-color: rgb(234, 254, 155);
color: black;
text-decoration: none;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
display: inline-block;
  } */ 
.bun{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 20px;
  background-color:rgb(175, 142, 157);
  padding-left: 80px;
  margin-top: 0px;
}
.bam{
  position: relative;
  text-align: center;
  color:rgb(253, 253, 253);
  font-size: 30px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ser{
  margin-bottom: -35px;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  background-color: pink;
}

.button{
border-style: solid;
border-color: #000;
width: 300px;
height: 300px;
border-radius: 10px;
margin: 20px;
/* margin: 25px 75px 30px 40px; */
opacity: 0.7;
/* margin-left:41px; */
}

.button:hover{
  opacity: 100;
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.feed{
  color:rgb(197, 19, 19);
  text-align: center;
  margin-left:50px ;
  font-size: 50px;
}

.dabba{
  background-color: aliceblue;
  margin-left: 350px;
  margin-bottom: 25px;
}

.contain{
  border: 2px solid rgb(10, 1, 1);
  width: 580px;
  height: 400px;
  text-align: left;
  font-size: 25px;
}
#fname,#email,#contact{
  padding: 8px;
  margin: 10px;
  font-family:  sans-serif;
  font-size: 12px;
}
#subject{
  padding: 8px;
  margin: 10px;
  font-family:  sans-serif;
  font-size: 12px;
}
.contain label{
  padding: 50px;
  margin-bottom: 1000px;
}
#jama{ 
  padding: 8px;
  margin-left: 69px;
  font-family:  sans-serif;
  font-size: 20px;
  width: 90px;
  background-color: rgb(160, 154, 154);
  border-radius: 12px;
  border-color:gray;



}
.button1{
  border-style: solid;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  margin-bottom: -9px;
  }
.btn1{
    border: 5px solid black;
    border-radius: 20px;
}
.bo{
  display: grid;
  background-color: black;
  color: antiquewhite;
  height: 200px;
  padding-top: 15px;
  padding-left: 500px;
}
.bo > div{
  margin: 10px;
  margin-bottom: 10px;
}
#canteen{
height: 400px;
margin-bottom: 156px;
}
.button2{
  border: 3px solid rgb(55, 55, 220);
  border-radius: 10px;
  width: 600px;
  height:400px;
  margin-top: 9px;
}
.info1{
  font-size: 20px;
  background-color: rgb(205,226,244);
  border: 5px solid black;
  border-radius: 13px;
  padding: 10px;
  width: 600px;
  height: 400px;
  margin: 10px;
}
.info2{
  display: flex;
  padding: 5px;
  height: 420px;
}
.boo{
  border: 2px solid black;
  background-color: antiquewhite;
  margin: 5px;
}
.boo1{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 110px;
  padding-bottom: 20px;
  grid-gap: 12px;
}
.c1,.c2,.c3,.c4,.c5,.c6{
  font-size: 18px;
}
.about{
  border: 2px solid black;
  background-color: antiquewhite;
  margin:5px ;
}
.ab{
  font-size: 18px;
  padding: 15px;
  text-align: center;
}
.ab1{
  font-size: 18px;
  margin-left: 240px;
  display: inline-block;
}
.ab2{
  font-size: 18px;
  margin-left: 80px;
  display: inline-block;
}
.ab3{
  font-size: 18px;
  margin-left: 70px;
  display: inline-block;
}
.ab4{
  font-size: 18px;
  margin-left: 70px;
  display: inline-block;
}
.grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr;

}

.item{

  background-color: rgb(182, 182, 162);
  margin:1px;
  height: 120px;
  padding: 5px;
}
#q{
  text-align: center;
}
.lost{
  padding-right:300px; 
  padding-left: 150px;
  margin-left: -40px;
}
.found{
  margin-left: -180px;
}
.lf{
  background-image:url("assets/r16.jpeg");
}
.dakuurajuuu{
  text-align: center;
  font-size: 40px;
}.login1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:black;
 padding-left: 0px;
 padding-right: 100px;
 font-size: 40px;
  margin-left:100px;
}
.login{
  border-width:2px;
  border-color: white;
  /* font-family:'Times New Roman', Times, serif; */
  border-style: solid;
  text-align: center;
  margin-left: 570px;
  margin-right: 100px;
  margin-top: -780px;
  height: 550px;
  width: 750px;
  background-color: rgb(255, 255, 255);
  color:black;
  font-size: 18px;
  padding-top: 100px;
}

#jamma{ 
  padding: 8px;
  margin-left: 10px;
  margin-top: 20px;
  font-family:  sans-serif;
  font-size: 15px;
  width: 90px;
  background-color:antiquewhite;
  border-radius:12px;
  border-color:gray;
}
#password{
  margin-top: 20px;
  margin-left: 150px;
  padding: 5px;
}
#fusername{
  margin-left: 145px;
  padding: 5px;
}
#emailid{
  margin-left: 82px;
  margin-top: 20px;
  padding: 5px;
  }
.logini{
margin-left: -10px;
display: inline;
width: 600px;
margin-top: -110px;

}
.login form{
  margin-top: 00px;
  
}
.helllo{
  width: 760px;
  margin-top:-22px;
  margin-left: -58px;
  }
  .signup label{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#finame{
    font-size: 15px;
    margin-left: 88px;
    margin-top: 15px;
    
}
#lname{
    font-size: 15px;
    margin-left: 90px;
    margin-top: 15px;

}
#enroll{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
}   
#pw{
    margin-left: 68px;
   font-size: 15px;
   margin-top: 15px;
}
#cpw{
    margin-left: 25px;
       font-size: 15px;
       margin-top: 15px;
}
#eemail{
    margin-left: 35px;
     font-size: 15px; 
     margin-top: 15px;
}
#jaama{
    padding: 8px;
    margin-top: 20px;
    width: 90px;
    font-size: 15px;
}
.signup{
margin-left: 750px;
margin-top: -700px;
}
.sign{
margin-left: 125px;
}
.hello{
width: 760px;
margin-top:-22px;
margin-left: -58px;
}
.com{
  background-color: antiquewhite;
  border: 2px solid rgb(82, 122, 122);
  border-radius: 7px;
  font-family: 'Times New Roman', Times, serif;
  width: 450px;
  margin-left: 380px;
  font-size: 20px;
  height: 525px;
}
.com1{
  text-align: center;
  color: rgb(0, 0, 0);
}
.com label{
  padding: 10px;
  margin: 10px;
}
.com input{
  padding: 3px;
  margin: 10px;
}
.com textarea{
  padding: 3px;
  width: 390px;
  margin-top: 15px;
  margin-left: 20px;
}
#in{
  width: 180px;
  height: 25px;
}
#jama1{
  padding: 4px;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 18px;
  width: 80px;
  background-color: gray;
  border-radius: 12px;
  border-color: gray;
  cursor: pointer;
}
.for{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(43, 18, 22);
 padding-left: 0px;
 padding-right: 100px;
 font-size: 40px;
  margin-left: 160px;
}
#jamma1{ 
  padding: 8px;
  margin-left: 0px;
  margin-top: 20px;
  font-family:  sans-serif;
  font-size: 15px;
  width: 90px;
  background-color:antiquewhite;
  border-radius:12px;
  border-color:gray;
}
#password1{
  margin-top: 20px;
  margin-left: 35px;
  padding: 5px;
}
#fusername1{
  margin-left: 78px;
  padding: 5px;
}
#emailid1{
  margin-left: 12px;
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(246, 246, 247);
}
#pri{
  margin-left: 98px;
  width: 177px;
  padding: 6px;
}
#pro{
  margin-top: 0px;
  margin-left: 130px;
}
.fo{
  border: 5px solid black;
  padding-bottom: 20px;
  background-image: url(/assets/r20.jpeg);
}

#kj{
  border-style: solid;
  width: 600px;
  height: 225px;
  border-radius: 10px;
  margin-bottom: -9px;
}